/* CSS */
* {
	box-sizing: border-box;
}

main, body {
	position: relative;
}

.entry-data {
	position: absolute;
	left: 5px;
	top: 50%;

}

#map {
	height: 100vh;
}

#search-results {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFFFFF;
}